/* npm log colors */
.silly {
    color: hotpink;
}

.debug {
    color: cadetblue;
}

.verbose {
    color: mediumpurple;
}

.info {
    color: forestgreen;
}

.warn {
    color: darkgoldenrod;
}

.error {
    color: darkred;
}

/* Console Settings */
.console {
    padding: 10px;
    border: 5px ridge darkgrey;
    background: black;
    box-shadow: darkgrey 5px 5px 5px;
    min-height: 325px;
    max-height: 325px;
    margin: 5px;
    overflow: auto;
}

.data {
    white-space: pre;
    font-family: monospace;
    color: white;
}

/* Misc. */
.login {
    background: radial-gradient(slategray, #003768);
    border-radius: 5px;
    padding: 20px;
    font-family: monospace;
}

.login .md-button {
    text-transform: none;
    font-size: 18pt;
}

.login .md-button .material-icons {
    font-size: 200%;
}

md-tabs {
    height: 100%;
}

.md-tab {
    text-transform: none;
}

md-list > .md-button {
    width: 100%;
    text-align: left;
    text-transform: none;
    margin: 0;
}

.active {
    background: black;
}

.nuke {
    background: black !important;
    color: red !important;
    font-weight: bolder;
}

/* Loading bar */
.container {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px; }

.bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%; }

.bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; }


/* Replicate text-decoration: blink in CSS3 */
@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
} 
