<div ng-controller="HomeController as vm" layout-fill>
  <md-content layout-fill>
    <div ng-show="!vm.servers.length" layout-padding>
        <h4 class="error">No servers found...</h4>
    </div>
    <md-tabs ng-show="vm.servers.length" md-selected="0" md-border-bottom>
      <md-tab ng-repeat="server in vm.servers" label="{{server.uid}}">
        <md-card>
          <md-card-header md-colors="{'background': 'accent'}">
              <md-card-header-text>Server UID: {{server.uid}}</md-card-header-text>
          </md-card-header>
          <md-card-content>
              <div layout-gt-md="row">
                  <div flex="30">
              <b>Details</b><br>
              <!-- DON'T fix formatting. .data elements preserve white space. -->
            <span class="data" style="font-family: monospace; color: black;"><b>Started:</b>          {{server.ctime | date : 'medium' : 'UTC'}}
<b>Command:</b>          '{{server.command}}'
<b>Restarts:</b>         {{server.restarts}}
<b>Running:</b>          {{server.running}}
<b>Environment:</b>      '{{server.env}}'
<b>Source Directory:</b> '{{server.sourceDir}}'
<b>Script:</b>           '{{server.file}}'
            </span>
                  </div>
            <span flex="5"><!-- spacer --></span>
            <div flex>
                <b>Environment Variables:</b>
<div style="height: 150px; overflow-y: auto">
<span class="data" style="font-family: monospace; color: black;" ng-repeat="k in server.spawnWith.env | keys"><b>{{k}}</b>={{server.spawnWith.env[k]}}
</span>
</div>
            </div>
</span>
              </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="center center">
            <md-button class="info" ng-click="vm.restart(server.uid)">
                <md-icon md-font-icon>replay</md-icon> Restart
            </md-button>
            <md-button class="error" ng-click="vm.stop(server.uid)">
                <md-icon md-font-icon>stop</md-icon> Stop</md-button>
            <md-button class="md-raised nuke" ng-click="vm.nuke(server.uid)">
                <md-icon class="nuke" md-font-icon>whatshot</md-icon> <span class="blink">Nuke</span>
            </md-button>
          </md-card-actions>
        </md-card>
        <div class="container" ng-show="vm.loadingLogs[s.uid]">
          <md-progress-linear md-mode="query"></md-progress-linear>
          <div class="bottom-block">
            <span>Loading server logs...</span>
          </div>
        </div>
        <div layout-gt-md="row" flex>
            <div layout="column" flex>
                <md-card>
                    <md-card-header md-colors="{'background': 'accent'}">
                        <md-card-header-text>{{server.uid}}'s Logs</md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout="column" flex layout-padding>
                            <div class="console" scroll-glue>
                                <span class="data" ng-repeat="log in vm.logs[server.uid]">{{log.timestamp}} - <span class="{{log.level}}">{{log.level}}: </span>    {{log.message}} {{log.stack}}<br></span>
                            </div>
                            <md-button class="md-raised md-primary" ng-click="vm.clear(server)">
                                <md-icon md-font-icon>clear_all</md-icon> Clear<md-tooltip md-direction="top">Clear Server Log</md-tooltip>
                            </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="column" flex>
                <admin-log></admin-log>
            </div>
        </div>
        <span flex="10"><!-- spacer --></span>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
