<md-content layout="column" layout-fill style="background: radial-gradient(darkgray, darkslategrey); overflow: hidden;" layout-align="center center">
  <div layout="column" layout-fill layout-align="center center">
    <div layout="column" layout-padding class="login md-whiteframe-6dp" layout-align="center center">
      <b style="font-size: 24pt; color: white; text-align: center;">Login to Shingo Server Admin</b>
      <img src="images/sysadmin.png"/>
      <span flex><!-- spacer --></span>
      <md-button href="auth/login" class="md-raised md-primary">
        <md-icon md-font-icon>cloud_queue</md-icon>  Salesforce Login</md-button>
    </div>
  </div>
</md-content>
